$background: #1F1F1F;
$primary: #FF3C3C;
$darkenPrimary: #532C2C;
$inputField: #1B1B1B;
$buttonHover: #7A0B31;

@mixin buttonGradient {
   background: rgb(255,60,60);
   background: linear-gradient(208deg, rgba(255,60,60,1) 0%, rgba(153,36,36,1) 100%); 
   border: none;
   border-radius: 1rem;
   cursor: pointer;
   transition: 150ms;
   
   &:hover {
      // background-color: $buttonHover;
      transform: translateY(-3px);
      box-shadow: rgb(255, 119, 107, 0.2) 0px 8px 24px;
   }
}



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: $background;
}


/* 

   LOGIN PAGE

 */

#container {
   height: 100vh;
   width: 100vw;
   color: white;
   display: grid;
   place-content: center;
   

   #loginContainer {
      height: 600px;
      width: 600px;
      background-color: #161616;
      border-radius: 1.5rem;
      box-shadow: rgb(115, 115, 115, 0.2) 0px 8px 24px;
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      #title {
         display: flex;
         align-items: center;
         gap: 1rem;
         font-size: 1.5rem;
         font-family: "comfortaa";
      }
      
      #inputField {
         display: flex;
         flex-direction: column;
         gap: 2rem;
         
         input {
            height: 60px;
            width: 400px;
            border-radius: 10px;
            background-color: $inputField;
            color: white;
            padding: 0.5rem;
            border: $primary solid 2px;
            font-size: 1rem;
            outline: none;


         }

         // Forgot password link
         a {
            font-family: "comfortaa";
            color: white;
         }
      }


      #signUpBtn {
         @include buttonGradient();
         height: 3rem;
         width: 200px;
         color: white;
         font-size: 1.3rem;
      }
      
   }
   
}

// LOGIN PAGE MEDIA QUERY

@media (max-width: 700px) {
   #container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      #loginContainer {
         padding: 1rem;
         width: 500px;
         height: 500px;
      }

   }
}

@media (max-width: 550px) {
   #container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      #loginContainer {
         // padding: 1rem;
         width: 350px;
         height: 450px;
         
         #inputField {
            input {
               width: 300px;
            }

            a {
               font-size: 0.8rem;
            }
         }
      }

      

   }
}

/* 

CHOOSING TOPICS COMPONENT

*/


#topics {
   background-color: #131212;
   height: 700px;
   width: 70%;
   margin: 3rem auto;
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   padding: 5rem;
   color: white;
   font-family: 'roboto';

   // header
   h1 {
      font-weight: lighter;
      font-family: 'roboto';
      font-size: 2.5rem;
      width: 90%;
      text-align: center;
      span {
         font-weight: 900;
         color: $primary;
      }
      
   }
   
   #topicCounter {
      font-size: 1.5rem;
      margin-bottom: 3rem;
      color: grey;
   }

   #topicSelect {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      
      button {
         font-weight: 300;
         border-radius: 0.5rem;
         border: none;
         background: rgba(255, 60, 60, 0.2);
         color: white;
         padding: 0.5rem 1rem;
         transition: 150ms;
         font-size: 1.4rem;
         cursor: pointer;

         
         &:hover {
            transform: translateY(-5px);
            box-shadow: rgb(255, 105, 105,0.4) 0px 4px 12px;
         }
      }

      // appends to the topic buttons on click
      .selected {
         background-color: $primary;
      }

      .disabled {
         transition: 150ms;
         opacity: 0;
         display: none;
         color: rgb(17, 150, 17);
      }
   }

   #continuteBtn {
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: $primary;
      border: none;
      font-size: 1.4rem;
      color: white;
      background: rgb(255,60,60);
      background: linear-gradient(208deg, rgba(255,60,60,1) 0%, rgba(153,36,36,1) 100%); 
      cursor: pointer;
      transition: 150ms;
      
      &:hover {
         transform: translateY(-5px);
         box-shadow: rgb(255, 105, 105,0.4) 0px 4px 12px;
      }
   }
}